html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

table {
  min-width: 45em;
  overflow: scroll;
  border-collapse: collapse;
}

.search {
  max-width: 20px;
}

.white {
  background-color: #fff;
}

.back {
  background-color: #efefef;
}
@media only screen and (min-width: 60em) {


}
